@charset "UTF-8";
/* *** #### SELECT */
.select {
  width: 300px;
  text-align: left;
  display: inline-block;
  /*** #### **** OPTIONS **** */
}
.select .output {
  cursor: pointer;
  padding: 5px 5px;
  display: inline-block;
  background-color: #F5F6F7;
  border: 1px solid #CCD0D5;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  background-image: url("../img/drop-down-menu.png");
  background-size: 11px;
  background-repeat: no-repeat;
  background-position: center right 3px;
}
.select .output:after {
  content: "";
  width: 10px;
  float: right;
}
.select .options {
  overflow: hidden;
  position: absolute;
  display: none;
  border: 1px solid #aaa;
  background-color: #fff;
  box-shadow: 0 0 4px #ccc, 0 0 10px #eee;
  font-size: 14px;
  /* options > scroll */
  /* width */
  /* Track */
  /* option > optgroup*/
  /*option*/
  /* hover */
  /* Options > separator*/
}
.select .options:hover {
  overflow: auto;
}
.select .options::-webkit-scrollbar {
  width: 10px;
}
.select .options::-webkit-scrollbar-track {
  background: #fafafa;
  border-left: 1px solid #eee;
  border-bottom-right-radius: inherit;
  border-top-right-radius: inherit;
}
.select .options::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: inherit;
}
.select .options::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
.select .options .optgroup {
  color: #444;
  font-size: 0.875em;
  /* 14px */
  font-weight: 500;
  padding-left: 10px;
  height: var(--sh);
  line-height: inherit;
  cursor: default;
  text-transform: capitalize;
  height: 19px;
  line-height: 20px;
  display: block;
  background-color: #eee;
}
.select .options .option {
  padding-left: 10px;
  padding-right: 6px;
  cursor: pointer;
  display: block;
}
.select .options .option.disabled {
  color: #ccc;
}
.select .options .option.disabled:hover {
  background-color: #ccc;
  color: #222;
}
.select .options .option.selected {
  font-weight: 500;
}
.select .options .option:before {
  content: "✓";
  font-size: 1em;
  visibility: hidden;
  line-height: inherit;
  height: inherit;
  float: left;
  padding-right: 5px;
  text-align: center;
  color: inherit;
}
.select .options:hover .selected {
  background-color: transparent;
  color: black;
}
.select .options .option:hover {
  background-color: #4267B2;
  color: white;
}
.select .options .selected {
  background-color: #4267B2;
  color: white;
  font-weight: 500;
}
.select .options .selected::before {
  visibility: visible;
}
.select .options hr {
  height: 9px;
  position: relative;
  border: 0;
}
.select .options hr:before {
  content: "";
  float: left;
  width: 100%;
  height: 1px;
  margin: 4px 0;
  position: absolute;
  background-color: #f1f1f1;
}
